body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 98vh;
    height: 98vh;
    border: 1px solid black;
    background-color: black;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    width: 48%;
    height: 98%;
    border: 1px solid blue;
    
}

.column-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}

.column-left > div {
    width: 20%;
    height: 90%;
    background-color: silver;
    margin: 3%;
}

.column-left > .element-1, .column-left > .element-3 {
    align-self: flex-start;
}

.column-left > .element-2, .column-left > .element-4 {
    align-self: flex-end;
}

.column-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}


.line {
    width: 95%;
    height: 47.6%;
    border: 1px solid orange;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.line-top {
    background-color: green;
}

.column-right > .line-top > .element {
    width: 10%;
    height: 10%;
    border: 5px dotted green;
    margin: 2%;
}

.column-right > .line-top > .element > p {
    margin: 0%;
    border: 3px ridge yellowgreen;
    background-color: blue;
}

.column-right > .line-top > .element-1 {
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.column-right > .line-top > .element-2 {
    border: 10px double pink;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.column-right > .line-top > .element-3 {
    align-self: flex-end;
    border: 20px ridge orangered;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.column-right > .line-top > .element-4 {
    width: 15%;
    height: 15%;
    font-style: oblique;
    font-weight: bolder;
    border: 20px groove blueviolet;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.column-right > .line-top > .element-4 > p {
    background-color: tomato;
}

.line-donw {
    background-color: purple;
}

.line-donw > div {
    width: 25%;
    height: 90%;
    background-color: black;
}