body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    border: 1px solid black;
    width: 98vmin;
    height: 98vmin;
    /* position: relative; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}


.rocket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rocket-body {
    /* capsule behind trace */
    width: 30vmin;
    height: 30vmin;
    background-color: black;
    border-radius: 100%;
    /* Bady of the rocket */
    &::before {
        content: '';
        width: 30vmin;
        height: 30vmin;
        background-color: blueviolet;
        position: absolute;
        top: 50%;
        border-radius: 0% 0% 30% 30%;
    }
    /* Tail of the rocket */
    &::after {
        content: '';
        width: 10vmin;
        height: 15vmin;
        background-color: aqua;
        position: absolute;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        top: 80.6%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.vertical {
    /* capsule in front of the trace */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 43.4%;
    border: 3px dashed green;
    border-radius: 50%;
    /* capsule - back - biggest */
    &::before {
        content: '';
        position: absolute;
        width: 30vmin;
        height: 15vmin;
        top: -50%;
        background-color: black;
        border-radius: 15vmin 15vmin 0 0;
    }
    /* capsule - front - smaller */
    &::after {
        content: '';
        position: absolute;
        width: 28vmin;
        height: 14vmin;
        top: -44.3%;
        background-color: cadetblue;
        border-radius: 14vmin 14vmin 0 0;
    }
}

/* rounded wings */
.vertical-balls {
    width: 5vmin;
    height: 5vmin;
    background-color: brown;
    margin: 6.2vmin;
}

.vertical > .left {
    border-top-left-radius: 100%;
}

.vertical > .center {
    border-radius: 100%;
}

.vertical > .right {
    border-top-right-radius: 100%;
}
