* {
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.frame {
    
}

.frame1 {
    border: 1.1vh groove silver;
    width: 98vh;
    height: 98vh;
}