body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.frame {
    border: 1.1vmin groove silver;
    width: 98vmin;
    height: 98vmin;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 44vmin solid transparent;
    border-right: 44vmin solid transparent;
    border-bottom: 88vmin solid green;
    position: absolute;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 44vmin solid transparent;
    border-right: 44vmin solid transparent;
    border-top: 88vmin solid yellow;
    position: absolute;
}

.x-back {
    
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    background-color: teal;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vmin;
    height: 50vmin;
    position: absolute;
    background-color: violet;
    clip-path: circle();
}

.quadrado {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    background-color: springgreen;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}